body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

@media screen and (min-width: 800px){
	nav .nav-wrapper .container, .c2 {
		width: 85%;
	}
}

/* .card-panel {
	border-radius: 10px;
} */

.brand-logo img {
	margin-top: 5px;
	height: 50px;
}

.color-a { color: #4FD833 !important; }
.color-b { color: #C2C5CA !important; }
.color-c { color: #2A2A28 !important; }
.bg-color-a { background-color: #4FD833 !important; }
.bg-color-b { background-color: #C2C5CA !important; }
.bg-color-c { background-color: #2A2A28 !important; }

.dropdown-content > li > a {
	color: #2A2A28;
}

.nav-wrapper ul li a {
	color: #2A2A28;
}

.btn {
	background-color: #4FD833 !important;
	/* color: #2A2A28; */
}

.card-inmueble span.card-title {
	font-size: 18px;
	line-height: 1.2 !important;
}

.card-inmueble .card-content {
	padding: 15px;
}
.card-inmueble {
	font-size: 15px;
	font-weight: 400;
}


/* ========================== GENERALIZADOR ========================00 */
.full-w { width: 100% !important; }
.b-p-5 { padding-bottom: 0; }
.b-m-10 { margin-bottom: 10px; }
.tb-p-10 {
	padding-top: 10px !important;;
	padding-bottom: 10px !important;;

}
