body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

@media screen and (min-width: 800px){
	nav .nav-wrapper .container, .c2 {
		width: 85%;
	}
}

/* .card-panel {
	border-radius: 10px;
} */

.brand-logo img {
	margin-top: 5px;
	height: 50px;
}

.color-a { color: #4FD833 !important; }
.color-b { color: #C2C5CA !important; }
.color-c { color: #2A2A28 !important; }
.bg-color-a { background-color: #4FD833 !important; }
.bg-color-b { background-color: #C2C5CA !important; }
.bg-color-c { background-color: #2A2A28 !important; }
